Source: chert
Section: unknown
Priority: extra
Maintainer: Joseph Rawson <umeboshi@paperboy>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/chert.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/chert.git;a=summary

Package: chert
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python-sqlalchemy, python-unipath
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
